<html>
<head>
<title>MOBERA 2011 Newsletter Activation</title>
</head>
<body>
{capture $mail}
Hello,

thank you for your interest in receiving the MOBERA 2011 newsletter. Please click the following link to enable the newsletter delivery:

    <a href="{plink //view 'newsletter/confirm/' . $hash}">{plink //view 'newsletter/confirm/' . $hash}</a>

The delivery can be suspended at any time by clicking the opt-out link below:

    <a href="{plink //view 'newsletter/deactivate/' . $hash}">{plink //view 'newsletter/deactivate/' . $hash}</a>

We hope to see you at MOBERA 2011 making the future of mobile era!

MOBERA Organizing Team

______________________________________________________________
Please do not reply to this message. The email address is used
for email notifications only so you will receive no response.

If you have any questions, please contact MOBERA organizers at
info@mobera.eu
{/capture}

{!$mail|texy}

</body>
</html>