<html>
<head>
<title>{$siteName} - Objednávka kurzu {$kurz->nazev} v termínu: {$termin->casOd|date:"j.n.Y G:i"}</title>
</head>
<body>
<h3>Rekapitulace objednávky kurzu {$kurz->nazev} v termínu: {$termin->casOd|date:"j.n.Y G:i"}</h3>

Na serveru {$siteName} jste si objednal {$kurz->nazev}.<br /><br />

Školení proběhne v termínu od {$termin->casOd|date:"j.n.Y G:i"} do {$termin->casDo|date:"j.n.Y G:i"}.<br /><br />

Děkujeme.<br /><br />

S pozdravem<br /><br /><br />


Sorudo.cz

</body>
</html>