<html>
<head>
<title>{$siteName} - Registrace nového uživatele</title>
</head>
<body>
<h3>Děkujeme za registraci</h3>

Vámi zadané údaje jsou:<br /><br />

Uživatelské jméno: {$username}<br />
Heslo: {$password}<br /><br />

Jméno a příjmení: {$jmeno}<br />
E-mail: {$email}<br /><br />

S pozdravem<br /><br />

Sorudo.cz
</body>
</html>