<html>
<head>
<title>{$siteName} - Registrace nového uživatele</title>
</head>
<body>
<h3>Na {$siteName} se zaregistroval nový uživatel</h3>

Jím zadané údaje jsou:<br /><br />

Jméno a příjmení: {$jmeno}<br />
E-mail: {$email}<br /><br />

</body>
</html>

