/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
/*
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }*/

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
/*input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }*/
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }
.no-bg { background: none !important; }

/*::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both; }

 /* Primary Styles
    Author: Tomas Macuga - tomas.macuga@divdesign.cz
    Last revision: 04.01.2011
 */

body {
    background: url('../images/body_bg.png');
    font-family: Arial, Georgia, Verdana;
}

.upper {
    text-transform: uppercase;
}

.grey {
    color: #ccc;
}

p, li {
    line-height: 18px;
}

.main p { margin-bottom: 15px; }

a {
    color: #1a80a9;
    font-weight: bold;
}

#wrapper {
    width: 100%;
    margin-bottom: 60px;
}

header,
.main,
.columns,
footer,
article {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

#errors,
.flash {
    width: 918px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #fff;
    -moz-box-shadow: 0px 0px 3px #ccc;
    -webkit-box-shadow: 0px 0px 3px #ccc;
    box-shadow: 0px 0px 3px #ccc;
}

    #errors h2 {
        margin-bottom: 20px;
        font-size: 20px;
    }

/******************************************
    HEADER
******************************************/

header {
    height: 90px;
    position: relative;
    margin-bottom: 15px;
}

    .logo {
        position: absolute;
        top: 10px;
        left: 0px;
    }

    header nav {
        position: absolute;
        top: 55px;
        left: 0px;
        width: 100%;
        background: #2c6d9a url('../images/header-nav_bg.jpg') repeat-x;
        padding-top: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    
    nav ul {
        width: 100%;
    }
    
        nav ul li {
            float: left;
            margin: 0 27px;
        }
        
        nav ul li a, nav ul li span, nav ul li a:hover {
            display: block;
            float: left;
            padding: 3px 17px 6px 10px;
            color: #fff;            
            font-size: 14px;
            text-decoration: none;
            font-weight: bold;
            margin-left: 7px;
        }

        nav ul li.active, nav ul li:hover {
            background: #fff url('../images/header-nav-li_left_bg.jpg') no-repeat left top;
        }
        
        nav ul li.active a:last-child {
            margin-right: 0px;
        }
        
        nav ul li.active a, nav ul li.active span, nav ul li:hover a {
            background: url('../images/header-nav-li_right_bg.jpg') no-repeat right top;
            color: #444;
        }
        
        nav ul li a:hover {
            text-decoration: none;
        }

/******************************************
    FOOTER
******************************************/

footer {
    background: url('../images/footer_bg.jpg') repeat-x left top;
    padding-top: 15px;
    margin-top: 20px;
}

footer h2 {
    width: 80px;
    float: left;
    margin-right: 10px;
}

footer ul {
    float: left;
    list-style-type: none;
    font-size: 12px;
    color: #333;
}

footer ul li {
    float: left;
    padding-left: 10px;
}

footer ul li a {
    color: #333;
    margin-left: 5px;
    font-weight: normal;
}

.footer-content {
    float: left;
}

    .footer-content ul {
        margin-left: 0px;
    }
    
    .footer-content ul li {
        border-left: 1px solid #cedcee;
        padding: 0 10px;
        margin: 0px;
        margin-top: 3px;
        line-height: 12px;
    }
    
    .footer-content ul li a {
        color: #1a809a;
    }

.footer-copyright {
    float: right;
}


/******************************************
    General
******************************************/

a.more {
    font-size: 12px;
    color: #1a80a9;
    font-weight: bold;
    text-decoration: none;
}

a.more.right {
    float: right;
}

a.more:hover {
    text-decoration: underline;
}

.login input[type="text"],
.login input[type="password"] {
    width: 130px;
    margin: 0 5px;
    border: 1px solid #929292;
}

.login input[type="submit"] {
    border: none;
    background: #0094bc url('../images/login-button.jpg') no-repeat;
    width: 80px;
    height: 27px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding-left: 20px;
    margin: 10px 0 10px 5px;
}

.login form p { position:relative; float: left; }
.login label  { position:absolute; top:-15px; left:10px; font-size: 11px;}

.try a.try-button {
    font-size: 15px;
}

.try p.link {
    margin-bottom: 10px;
}

.try p.desc {
    font-size: 15px;
    color: #777;
}

section {
    width: 628px;
    float: left;
    overflow: hidden;
    padding-right: 10px;
}

aside {
    width: 292px;
    float: left;
    padding-left: 10px;
}

section h1 {
    font-size: 30px;
    margin: 10px 0;
    font-weight: normal;
    color: #4a4a4a;
}

section h2 {
    margin: 20px 0 7px 0;
    font-size: 16px;
    color: #444;
}

.features h2 {
    margin: 0 0 7px 0;
}

section h3 {
    font-size: 16px;
    margin-bottom: 7px;
    color: #555;
}

section p {
    font-size: 15px;
    line-height: 24px;
}

aside h2 {
    font-size: 16px;
    color: #444;
    margin: 10px 0;
}

aside .bubble {
    width: 262px;
}

hr {
    margin: 20px 0;
    border: none;
    height: 3px;
    background: url('../images/footer_bg.jpg') repeat-x;
}

/******************************************
    PANEL
******************************************/

.pricing {
    margin-top: 20px;
    padding: 0 5px;
}

.price-title {
    width: 150px;
    color: #777;
    float: left;
    font-size: 15px;
}

    .price-title h2 {
        font-size: 24px;
        color: #479e8a;
        margin: 0px;
        margin-bottom: 5px;
        font-weight: normal;
    }
    
.price-total {
    float: left;
    width: 122px;
    color: #479e8a;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 0px;
    text-transform: uppercase;
}

    .price-total strong {
        height: 28px;
        font-size: 28px;
        letter-spacing: 1px;
        display: block;
        margin: 0 0 4px 0;
        padding-top: 2px;
    }

.price-fee-desc {
    font-size: 12px;
}
    
.price-fee, .price-ticket, .price-desc {
    float: left;
    width: 272px;
    margin-top: 10px;
}    

.price-fee {
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    color: #479e8a;
    padding: 3px 0;
}

.price-fee.card { background: url('../images/price-cards.jpg') no-repeat left top; }
.price-fee.paypal { background: url('../images/price-paypal.jpg') no-repeat left 4px; margin-top: 5px; }


.price-ticket {
    color: #1a809a;
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
}

    .price-ticket h2 {
        width: 140px;
        float: left;
        font-size: 24px;
        font-weight: normal;
        color: #1a809a;
        text-align: left;
        margin: 0px;
        margin-top: 3px;
        padding: 0px;
    }

.price-desc {
    font-size: 12px;
    color: #777;
    line-height: 20px;
    padding-left: 5px;
    text-align: left;
}
    
/******************************************
    HP
******************************************/

.home-banner {
    width: 940px;
    height: 425px;
    background: url('../images/home-banner_bg.jpg') no-repeat;
    background: url('../images/banner_zena.jpg') no-repeat;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

    .home-banner div {
        width: 420px;
        position: absolute;
        top: 70px;
        left: 460px;
    }
    
    .home-banner h1 {
        font-size: 34px;
        color: #fafafa;
        color: #333;
        teeext-shadow: 0 1px 1px #185675;
        margin-bottom: 20px;
    }
    
    .home-banner p {
        font-size: 15px;
        color: #fafafa;
        color: #333;
        teeext-shadow: 0 1px 1px #185675;
        margin-bottom: 20px;
        line-height: 25px;
        font-weight: bold;
    }
    
    a.try-button {
        display: block;
        width: 147px;
        height: 26px;
        background: url('../images/home-banner-button.png') no-repeat;
        overflow: hidden;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 7px 0 0 14px;
        line-height: normal;
        text-transform: uppercase;
        text-shadow: none;
    }

    .box-participated { float: left; margin: 10px 0; }
    .box-participated h2 { margin-bottom: 30px; }
    .box-participated img { margin: 0 3px; }
    
.home-case {
    width: 304px;
    height: 116px;
    background: url('../images/home-case_bg_sprite.jpg') no-repeat 0px 0px;
    margin: 10px 0 20px 14px;
    float: left;
    overflow: hidden;
}

.home-case.first { margin-left: 0px; }

.home-case:hover {
    background-position: 0px -116px;
    cursor: pointer;
}

    .home-case h2 {
        font-size: 21px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-shadow: 0 1px 1px #333;
    }
    
    .home-case h2 a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 6px 10px;
    }
    
    .home-case:hover h2 a {
        text-decoration: none;
    }
    
    .home-case p {
        margin: 0px;
        padding: 0px;
        width: 304px;
        height: 77px;
        line-height: 20px;
    }
    
    .home-case p a {
        height: 77px;
        display: block;
        padding: 6px 10px;
        font-size: 14px;
        font-weight: normal;
        color: #555;
        text-decoration: none;
    }
    
    .home-case:hover p a {
        text-decoration: none;
        color: #555;
        
    }

.home-box {
    width: 304px;
    min-height: 150px;
    margin: 10px 0 10px 14px;
    float: left;
    position: relative;
}

    .ie6 .home-box { height: 150px;}

.home-box.first { margin-left: 0px; }

.home-box-long {
    width: 622px;
    margin: 10px 0 10px 14px;
    float: left;
    position: relative;
}
    
    .ie6 .home-box-long { height: 150px; }

.home-box-long.first { margin-left: 0px; }
    
.home-box h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}

.green h2 {
    font-size: 24px;
    text-transform: none;
    font-weight: normal;
    color: #7ea712;
    background: url('../images/home-box-h2-green.jpg') no-repeat left top;
    padding-left: 37px;
}
    
.home-box.cyan {
    overflow: hidden;
}

.home-box p { margin-bottom: 0; }

.home-box.cyan p {
    line-height: 20px;
    font-weight: bold;
}
    
.home-box.cyan h2 {
    color: #479e8a;
    background: url('../images/home-box-h2-cyan.jpg') no-repeat left top;
    padding-left: 37px;
}
    
.home-box.blue h2 {
    color: #1a809a;
    background: url('../images/home-box-h2-blue.jpg') no-repeat left top;
    padding-left: 37px;
}

a#ide {
    text-indent: -9999px;
    background: url('../images/ide.jpg') no-repeat left top;
    width: 117px;
    height: 46px;
    display: block;
    float: left;
    margin-bottom: 10px;
}

a#ide:hover {
    background-position: 0px -46px;
}

a#uni {
    text-indent: -9999px;
    background: url('../images/uni.jpg') no-repeat left top;
    width: 171px;
    height: 46px;
    display: block;
    float: left;
    margin-bottom: 10px;
}

a#uni:hover {
    background-position: 0px -46px;
}

.home-box.login a.more {
    display: block;
    margin-left: 10px;
}

.home-box ul {
    list-style-type: none;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.home-box.green ul li {
    background: url('../images/home-box-li-green_dot.jpg') no-repeat left 5px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.home-box a.a-blog {
    display: block;
    width: 106px;
    height: 31px;
    padding: 5px 0 0 12px;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 160px;
    background: url('../images/home-a-blog_bg.jpg') no-repeat;
    color: #1a80a9;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.home-box a.a-blog:hover {
    text-decoration: underline;
}    

.home-box.blog {
    margin-top: -20px;
}

.home-box.blog h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.home-box.blog h3 {
    margin-bottom: 5px;
}

.home-box.blog h3 a {
    color: #1a80a9;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.home-box.blog em {
    font-size: 12px;
    color: #999;
    display: block;
    margin-bottom: 5px;
}

.home-box.blog p, .home-box.blog a {
    font-size: 12px;
    color: #555;
    line-height: 20px;
}

.home-box.blog a {
    color: #1a80a9;
    font-weight: bold;
    text-decoration: none;
}

.home-box.blog a.a-blog {
    font-size: 15px;
}

.home-box.blog a:hover {
    text-decoration: underline;
}

.home-box.testimonial h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
}

.bubble {
    width: 282px;
    -webkit-border-image: url('../images/home-box-bubble_border.jpg') 5 5 12 5 / 5px 5px 12px 5px;
    -moz-border-image: url('../images/home-box-bubble_border.jpg') 5 5 12 5 / 5px 5px 12px 5px;
    border-image: url('../images/home-box-bubble_border.jpg') 5 5 12 5 / 5px 5px 12px 5px;
    padding: 8px 10px 10px 10px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 12px;
    font-family: Georgia, serif;
}

/******************************************
    FEATURES
******************************************/

.features ul {
    width: 240px;
    float: left;
    margin: 5px;
    padding: 0px;
    list-style-type: none;
}

    .features ul li {
        background: url('../images/features-li_dash.png') no-repeat left 8px;
        padding-left: 15px;
        margin-bottom: 5px;
    }

.features div.box {
    padding-left: 60px;
    margin-bottom: 25px;
    float: left;
}

.features .management { background: url('../images/features-management.png') no-repeat left top; }
.features .participants { background: url('../images/features-participants.png') no-repeat left top; }
.features .contributions { background: url('../images/features-contributions.jpg') no-repeat left top; }
.features .scheduling { background: url('../images/features-scheduling.png') no-repeat left top; }
.features .control { background: url('../images/features-control.png') no-repeat left top; }
.features .security { background: url('../images/features-security.png') no-repeat left top; }
.features .event { background: url('../images/features-event.jpg') no-repeat left top; }
.features .community { background: url('../images/features-community.png') no-repeat left top; }

.features .feature-h2 {
    margin-bottom: 30px;
    /*float: left;*/
}

.features .additional {
    padding: 0px;
    margin: 0px;
}

.features .additional div {
    padding-left: 60px;
}

.features .additional ul {
    width: 244px;
}

/******************************************
    OVERVIEW
******************************************/

ul.tabs, ul.links {
    width: 610px;
    height: 48px;
    background: url('../images/tabs_bg.png') no-repeat;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
    list-style-type: none;
}

    ul.tabs li, ul.links li {
        float: left;
        width: 190px;
        font-size: 13px;
        padding: 0px;
        margin: 10px;
        margin-right: 0px;
        background: url('../images/tab_bg.png') no-repeat;
    }
    
    ul.tabs li a, ul.links li a {
        display: block;
        padding: 6px 0 7px 15px;
        text-decoration: none;
    }
    
    ul.tabs li.active, ul.tabs li:hover,
    ul.links li.active, ul.links li:hover {
        background: url('../images/tab_active_bg.png') no-repeat;
        color: #fff;
    }
    
    ul.tabs li.active a, ul.tabs li:hover a,
    ul.links li.active a, ul.links li:hover a {
        color: #fff;
    }

    .tab_content h2 {
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    
    .tab_content p {
        font-size: 13px;
    }
    
    .tab_content p.heading {
        line-height: 24px;
        font-size: 15px;
    }

.tab_container {
    margin-bottom: 20px;
    margin-right: 20px;
}

/******************************************
    CUSTOMERS
******************************************/

.customers a {
    font-weight: normal;
}

.customers p {
    margin-bottom: 20px;
}

.customers img {
    margin: 20px;
}

/******************************************
    PRESS & MEDIA
******************************************/

.press div {
    width: 305px;
    float: left;
    margin-bottom: 10px;
    padding-right: 9px;
}

    .press div.clearfix {
        width: 100%;
    }

.press a {
    font-weight: normal;
} 

.press ul {
    width: 280px;
    float: left;
    margin: 5px;
    padding: 0px;
    list-style-type: none;
}

    .press ul li {
        background: url('../images/features-li_dash.png') no-repeat left 8px;
        padding-left: 15px;
        margin-bottom: 5px;
    }
    
        .press ul li img {
            float: right;
        }

.press p {
    font-size: 13px;
}

.press .czech {
    background: url('../images/czech-flag.png') no-repeat right 6px;
    padding-right: 25px;
}
        
/******************************************
    ARTICLE
******************************************/

.article {
    width: 628px;
    padding-right: 10px;
}

.article h1 {
    font-size: 21px;
    font-weight: bold;
}

.article h2 {
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.article h2 a {
    text-decoration: none;
}

.acticle a:hover {
    text-decoration: underline;
}

.article p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 24px;
}


/******************************************
    ABOUT
******************************************/

.about h2 {
    margin: 20px 0;
    font-size: 16px;
}

.about p {
    line-height: 24px;
    font-size: 15px;
}

.about a {
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}

.about .person {
    width: 208px;
    float: left;
    margin-bottom: 20px;
}
    
    .about .person div {
        width: 56px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .about .person h3 {
        width: 126px;
        font-size: 14px;
        color: #1a809a;
        line-height: 18px;
        margin-bottom: 0px;
        float: left;
    }
    
    .about .person p {
        font-size: 13px;
    }

aside .contact div {
    padding-left: 55px;
    
    margin-bottom: 30px;
}

.contact h2 {
    margin-bottom: 30px;
}

.contact h3 {
    font-size: 15px;
    line-height: 20px;
}

.contact a {
    font-weight: normal;
}

.contact p {
    margin-bottom: 10px;
    font-size: 12px;
}

.contact .email { background: url('../images/contact-envelope.jpg') no-repeat left 7px; }
.contact .address { background: url('../images/contact-home.jpg') no-repeat left 7px; }
.contact .phone { background: url('../images/contact-phone.jpg') no-repeat left 7px; }

img.screenshot {
    width: 300px;
    float: left;
    margin: 10px 5px;
}

#flags { float: right; height: 11px; margin: 30px 11px 0 0; }
#flags a, #flags span { display: block; float: left; width: 16px; height: 11px; margin-right: 9px; background-image: url('../images/flags_sprt.png'); background-repeat: no-repeat; background-position: 0 0; }
#flags a#cs { background-position: 0 0; }
#flags a#en { background-position: 0 -11px; }
#flags span#cs { background-position: 0 -22px; }
#flags span#en { background-position: 0 -33px; }
#flags a.login-link { display: inline; float: none; width: auto; height: auto; background: none; margin: 0; }
    
@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

