.ac_results {
	border: 1px solid gray;
	background-color: white;
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	z-index: 10000;
	display: none;
}

.ac_results li {
	padding: 2px 5px;
	white-space: nowrap;
	color: #101010;
	text-align: left;
}

.ac_over {
	cursor: pointer;
	background-color: blue;
    color: white !important;
}

.ac_match {
	text-decoration: underline;
	color: black;
}

.ac_over .ac_match {
    color: white !important;
}

.ac_tooltip {
    background-color: gray;
    color: white !important;
    font-size: 60%;
}
