<!doctype html>  

<!--[if lt IE 7 ]> <html lang="{$ln}" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="{$ln}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{$ln}" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{$ln}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{$ln}" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{block #title}{$site}{/block}</title>

    {default $robots = 'index, follow'}
    <meta name="robots" content="{$robots}" />
    <meta name="description" content="{$description}" />
    <meta name="keywords" content="{$keywords}" />
    <meta name="copyright" content="{$copyright}" />
    <meta name="author" content="Nikol Kokešová, Tomáš Mačuga" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <link rel="apple-touch-icon" href="{$basePath}/apple-touch-icon.png">

    <link rel="stylesheet" href="{$basePath}/css/style.css?v=2">
    <link rel="stylesheet" href="{$basePath}/css/controls/news.css?v=2">
    <link rel="stylesheet" href="{$basePath}/css/controls/slider.css?v=2">
    <link rel="stylesheet" href="{$basePath}/css/controls/contactForm.css?v=2">
    <link rel="stylesheet" href="{$basePath}/css/controls/paginator.css?v=2">
    <link rel="stylesheet" href="{$basePath}/css/jquery.fancybox-1.3.4.css?v=2">
    <script src="{$basePath}/js/modernizr-1.6.min.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>

</head>

<body>

<div id="wrapper" class="clearfix">
    <header class="clearfix">

        <p class="logo molot">
            {block #logo}
            <a href="{plink "//Default:view", $ln}" title="Go to main page" accesskey="2">
                <img src="{$basePath}/images/logo.jpg" alt="{$description}" />
            </a>
            {/block}
        </p>

        <nav>
            {*{cache [$presenter->getParam('url'), "navigation"]}{**}
            {widget navigation}
            {*{/cache}{**}
        </nav>
    
        <div id="flags">
            {foreach $langs as $lang}
            {if $lang != $ln}
            <a id="{$lang}" href="{plink Default:view $lang}"></a>
            {else}
            <span id="{$lang}"></span>
            {/if}
            {/foreach}

            <a href="https://app.takeplace.eu/takeplace/takeplace.html#LogIn" class="login-link">{$tr['login']}</a> {$tr['or']}
            <a href="https://app.takeplace.eu/takeplace/takeplace.html#SignUp" class="login-link">{$tr['signup']}</a>
        </div>
    
    </header>
    
    {foreach $flashes as $flash}<div class="flash {if $flash->type}{$flash->type}{else}error{/if}">{$flash->message}</div>{/foreach}

    <div class="main clearfix">
    
    {include #content}

    </div>

    <footer class="clearfix">
    
        <div class="footer-content">
            <h2>Takeplace</h2>

            {control navigation}

        </div>
    
        <div class="footer-copyright">
            <ul>
                <li><strong>2008 &mdash; {=date("Y")}</strong></li>
                <li>&copy; <a href="http://acemcee.com" title="ACEMCEE">ACEMCEE</a></li>
                <li>All rights reserved</li>
            </ul>
        </div>
    
    </footer>

</div> <!-- end of #wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="{$basePath}/js/jquery/jquery-1.5.min.js"%3E%3C/script%3E'))</script>


    <!-- scripts concatenated and minified via ant build script-->
    <script src="{$basePath}/js/jquery/flashmessages.js"></script>
    <script src="{$basePath}/js/jquery/nospam.js"></script>
    <script src="{$basePath}/js/jquery/easySlider1.7.js"></script>
    <script src="{$basePath}/js/jquery/jquery.easing-1.3.pack.js"></script>
    <script src="{$basePath}/js/jquery/jquery.mousewheel-3.0.4.pack.js"></script>
    <script src="{$basePath}/js/jquery/jquery.fancybox-1.3.4.pack.js"></script>
    {*<!--script src="{$basePath}/js/jquery/jquery.borderImage.min.js"></script-->
    <script src="{$basePath}/js/jquery/jquery.infieldlabel.min.js"></script>*}
    <script src="{$basePath}/js/jquery/tabs.js"></script>
    <script src="{$basePath}/js/script.js"></script>
    <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="{$basePath}/js/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png'); </script>
  <![endif]-->

  <script>
   var _gaq = [['_setAccount', 'UA-12755204-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>
