{block #title}Správa překladu :: {include #parent}{/block}

{block #content}

<h1>Správa překladu</h1>

<h2>Překladová tabulka</h2>

<br />

{var $form => $control['table']}
{control $form begin}
{control $form errors}
<table>
    <tr>
        <th>Klíč</th>
        {foreach $langs as $ln}
        <th>{$ln}</th>
        {/foreach}
    </tr>
    <tr>
    {foreach $form['new']->controls as $item}
        <td>{$item->control}</td>
    {/foreach}
    </tr>
    {foreach $table as $row_id => $row_key}
    <tr>
        <td>{$row_key}</td>
        {foreach $langs as $ln}
        <td>{$form[$row_id][$ln]->control}</td>
        {/foreach}
    </tr>
    {/foreach}
</table>

{$form['save']->control}
{control $form end}