<ul id="{$name|webalize}">
    {if $useHomepage}
    {var $class = array()}
    {if $homepage->realCurrent}{? $class[] = "active"}{/if}
    {? $class[] = "no_submenu"}
    <li {if count($class)}class="{foreach $class as $c}{$c}{sep} {/sep}{/foreach}"{/if}>
        {if $homepage->realCurrent}
        <span>{$homepage->label}</span>
        {else}
        <a href="{$homepage->url}">{$homepage->label}</a>
        {/if}
    </li>
    {/if}

    {? $i = 1}
    {block #menu}
    {foreach $children as $item}
    {if $item->menu}
    {var $class = array()}
    {if $item->isCurrent}{? $class[] = "active"}{/if}
    {if count($item->getComponents()) == 0 && $i == 1}{? $class[] = "no_submenu"}{/if}
    <li {if count($class)}class="{foreach $class as $c}{$c}{sep} {/sep}{/foreach}"{/if}>
        {if $item->realCurrent}
        <span{if $i == 1} class="first_level"{/if}>{$item->label}</span>
        {else}
        <a href="{$item->url}"{if strstr($item->url, 'http://')} target="_blank"{/if}>{$item->label}</a>
        {/if}
        {if $renderChildren && (count($item->getComponents()) > 0) && ($i < 2)}
        {? $i = $i+1} 
        <ul>
            {include #menu, children => $item->getComponents(), i => $i}
        </ul>
        {? $i = $i-1}
        {/if}
    </li>
    {/if}
    {/foreach}
    {/block}
</ul>