.contact-form {
    width: 279px;
    color: #333333;
}

.contact-form label {
    font-weight: bold;
    font-size: 12px;
    display: block;
    padding: 0;
    margin-bottom: 5px;
}

.contact-form input[type=text] {
    width: 250px;
    border: 1px solid #739a1a;
    margin-bottom: 12px;
}

.contact-form textarea {
    width: 277px;
    height: 120px;
    border: 1px solid #739a1a;
    margin-bottom: 12px;
}

.ie6 .contact-form textarea {
    width: 250px;
}

.contact-form input[type=submit] {
    background: url('../../images/column-h2_bg.jpg');
    color: #fff;
    padding: 2px 10px 3px 10px;
    border: none;
}

