.items-item {
    width: 100%;
    float: none;
    margin-bottom: 10px;
}

    .item-image {
        float: left;
        width: 100px;
        margin: 0 10px 10px 0;
    }
    
    .item-date {
        width: 40px;
        font-size: 16px;
        font-weight: bold;
        float: left;
    }
        
        .first .item-date {
            width: 30px;
        }
        
        .item-date span {
            display: block;
            font-size: 11px;
        }
        
    .item-text {
        width: 160px;
        float: left;
    }

        .first .item-text {
            width: 130px;
        }
    
    .items-item .item-text h3 {
        font-size: 12px;
        margin-bottom: 5px;
        font-weight: normal;
    }
    
    .items-item .item-text p,
    .items-item .item-text img {
        margin-bottom: 15px;
    }

