.paginator {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.paginator a.pagin-prev, .paginator a.pagin-next {
    text-indent: -9999px;
    background: none;
    background: url('../../images/paginator/paginator-left.png') no-repeat;
    display: block;
    float: left;
    width: 12px;
    height: 13px;
    margin: 3px 5px;
}

.paginator a.pagin-next {
    background: url('../../images/paginator/paginator-right.png') no-repeat;
    float: right
}

.paginator a.pagin-step, .paginator strong {
    display: block;
    float: left;
    background: #f5f4f3;
    color: #333;
    padding: 2px 4px;
    margin: 0 2px;
}

.paginator a.pagin-step:hover, .paginator strong {
    background: #72a218;
    color: #f5f4f3;
}