/* Easy Slider */

	#slider ul, #slider li {
		margin:0;
		padding:0;
		list-style:none;
	}

    #slider {
        height: 90px;
        margin: 8px 0;
        position: absolute;
        right: 50px;
    }
    
	#slider li { 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width: 660px;
		height: 90px;
		overflow: hidden;
	}

    #slider li img {
        border: 1px solid #444;
        margin: 4px;
    }
    
	#prevBtn, #nextBtn { 
		display: block;
		width: 30px;
		height: 77px;
		position: absolute;
		left: 220px;
		top: 46px;
		z-index: 1000;
        text-indent: -9999px;
	}	

	#nextBtn { 
		left: 920px;
	}														

	#prevBtn a, #nextBtn a {  
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background:url('../../images/slider/arrow-l.png') no-repeat 0 0;	
	}	

	#nextBtn a { 
		background:url('../../images/slider/arrow-r.png') no-repeat 0 0;	
	}	
		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin: 0 10px 0 0; 
		padding: 0;
		float: left;
		list-style: none;
		height: 28px;
		line-height: 28px;
		}
	ol#controls li a{
		float: left;
		height: 28px;
		line-height: 28px;
		border: 1px solid #ccc;
		background: #DAF3F8;
		color: #555;
		padding: 0 10px;
		text-decoration: none;
		}
	ol#controls li.current a{
		background: #5DC9E1;
		color: #fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{ outline:none; }
	
/* // Easy Slider */