{var $robots = noindex}

{block #title}Přihlášení uživatele :: {include #parent}{/block}

{block #login}{/block}

{block #content}
    <div class="clearfix banner uzivatel">
        <div class="banner_top"></div>
        <div class="banner_bottom"></div>

        <div id="detail">
            <h2 class="cufon"><span>Přihlaste se</span></h2>
            
            {control loginForm}
            
        </div>
        
    </div>
{/block}
