{block #content}

<h1>Přehled odběratelů</h1>

<h2>Přehled odběratelů</h2>

<table>
    <tr>
        <th>Datum</th>
        <th>Email</th>
        <th>Aktivní</th>
    </tr>
    {foreach $subscribers as $row}
    <tr>
        <td>{$row->date|date:"j.n.Y"}</td>
        <td>{$row->email}</td>
        <td>{$row->active ? 'Ano' : 'Ne'}</td>
    </tr>
    {/foreach}
</table>