/* WRITE YOUR CSS CODE HERE */

div#clanek {width: 500px;}
div#clanek table tr th {
    width: 350px;
}
div#clanek form input.text {width: 400px;}
div#clanek form textarea {width: 800px;}

#aside ul li strong {
    margin: 4px 15px;
    width: 185px;
    font-weight: normal;
    display: block;
}

tr.aktivni td {
    background: #d1f2b4;
}

tr.blokovany td {
    background: #f69e93;
}

input.datetimepicker
{
    font-family: 'Tahoma', 'Verdana', 'Arial';
    font-size: 100%;
    border: 1px solid #C0C0C0;
    padding: 1.5pt 6pt 1.5pt 1.5pt;
    background: transparent url('../../js/timepicker/calendar.png') no-repeat right;
}

tr.stavVytvoreny {
    background: #FFFFA4;
}

tr.stavCekajici {
    background: #FFFF4B;
}

tr.stavAktivni {
    background: #F6FBFF;
}

tr.stavPasivni {
    background: #E7F3FF;
}

table tr th a {
    color: #fff;
}

#pageList {
    position: absolute;
    right: 40px;
    top: 130px;
    width: 270px;
}

#aside ul li#submenu-active a {
    background-color: #22baeb;
}

small {
    font-size: 11px;
}

h2 small {
    font-size: 16px;
    color: #333;
}

table.table-search tr td span {
    float: left;
    display: block;
    min-width: 150px;
    margin: 5px 10px;
}

.can-outside {
    background: #f2f2f2;
}

.hidden-text {
    text-indent: 9999px;
    font-size: 0;
}

input[type="submit"] {
    padding: 5px 10px;
    margin: 15px;
}

table input[type="submit"] {
    margin: 0;
    margin-left: 15px;
}

.submit-button {
    font-size: 18px;
    padding: 5px 10px;
}