                    <div id="{$id}" class="clearfix">
                        <ul>                
                        {foreach $images as $item}
                            {if $item->image}{if $iterator->isFirst(4)}<li>{/if}
                            {if $item->gallery}
                            <a href="{$basePath}/upload/pages/{$item->image}" rel="{$item->url}" class="gallery">
                            {/if}
                            <img src="{$basePath}/upload/pages/slider_{$item->image}" alt="{$item->title}" />
                            {if $item->gallery}
                            </a>
                            {/if}
                            {if $item->gallery}
                            <div class="gallery hidden">
                            {foreach $item->gallery as $photo}
                                <a href="{$basePath}/upload/fotogalerie/{$photo->galleryUrl}/{$photo->filename}" rel="{$item->url}" class="gallery">
                                    <img src="{$basePath}/upload/fotogalerie/{$photo->galleryUrl}/small_{$photo->filename}" alt="{$photo->title}" />
                                </a>
                            {/foreach}
                            </div>
                            {/if}
                            {if $iterator->isLast(4)}</li>{/if}{/if}
                        {/foreach}
                        </ul>
                    </div>
            
