{block #title}Správa katalogu :: {include #parent}{/block}

{block #products}

            <ul>
                {foreach $products as $product}
                <li>
                <a href="{plink move! $product->id, 'u'}" style="text-decoration: none; font-size: 15px;" class="ajax">&uarr;</a>
                <a href="{plink move! $product->id, 'd'}" style="text-decoration: none; font-size: 15px;" class="ajax">&darr;</a>
                {!$product->title}
                <small><a href="{plink Product:edit $product->id}">upravit</a> | <a href="{plink Product:delete $product->id}">smazat</a></small>
                </li>
                {/foreach}
            </ul>
{/block}

{block #content}

    <h1>Správa obsahu</h1>

    {if $categories}
    <h2>Správa produktů <small><a href="{plink Page:add}">+ Přidat nový</a></small></h2>

    {snippet list}
    <ul>
        {? $temp = 2}
        {foreach $categories as $page}
        {if $page->depth > $temp}
        <ul>
        {? $temp = $page->depth}
        {elseif ($page->depth == $temp) && (!$iterator->isFirst())}
        </li>
        {elseif ($page->depth < $temp) && (!$iterator->isFirst())}
        </li>
        {!= str_repeat("</ul></li>", max(0, $temp - $page->depth))}
        {? $temp = $page->depth}
        {/if}
        <li>
            <h{$page->depth + 2}>{!$page->title} {if $page->subtemplate == 'produkt'}<small><a href="{plink Product:add 'pageId' => $page->id}">vložit produkt</a></small>{/if}</h{$page->depth + 2}>
            {var $products = $productsModel->findByPageId($page->id)->fetchAll()}
            {if($products)}
            {include #products, products => $products}
            {/if}
        {/foreach}
        </li>
        {!= str_repeat("</ul></li>",max(0, $temp - 1))}
    </ul>
    {/snippet}    

    <h2>Produkty bez přiřazené kategorie</h2>
    {if $nonRelated}
    <ul>
        {foreach $nonRelated as $product}
        <li>
        {!$product->title}
        <small><a href="{plink Product:edit $product->id}">upravit</a> | <a href="{plink Product:delete $product->id}">smazat</a></small>
        </li>
        {/foreach}
    </ul>
    {else}
    <p>Všechny produkty jsou přiřazeny do kategorií.</p>
    {/if}

    

    <h2>Správa parametrů</h2>
    
    {control $parameterForm begin}
    {control $parameterForm errors}
    <table>
        <tr>
            <th>Název</th>
            <th>Typ pole</th>
            <th>Akce</th>
        </tr>
        <tr>
            <td>{$parameterForm['title']->control}</td>
            <td>{$parameterForm['type']->control}</td>
            <td>{$parameterForm['save']->control}</td>
        </tr>
        {foreach $parameters as $parameter}
        <tr>
            <td>{$parameter->title}</td>
            <td>{$parameter->type}</td>
            <td><small><a href="{plink Parameter:edit $parameter->id}">upravit</a> | <a href="{plink Parameter:delete $parameter->id}">smazat</a></small></td>
        </tr>
        {/foreach}
    </table>
    {control $parameterForm end}
    
    {else}
    <ul>
        <p class="msg error">Zatím nebyla založena žádná kategorie produktů! Vytvořte ji ve <a href="{plink Content:}">Správě obsahu</a>.</p>
    </ul>
    {/if}