{extends 'clanek.phtml'}

{block #class}about{/block}

{block #aside}
            <div class="login">
                {!$block->login->text|texy}
            </div>
            
            <hr class="clearfix" />
            
            <div class="clearfix">
                {!$block->testimonial->text|texy}
            </div>
            
            <hr />
            
            <div class="contact">
                <h2>{$block->contact->seo_title}</h2>
                {!$block->contact->text|texy}
            </div>
{/block}

{block #section}
    {include #parent}
    
    {if $kariera}
    <h1>{$tr['kariera']}</h1>
    
    {foreach $kariera as $row}
    {if $ln == 'en'}
    {!$row->text|texy}
    {else}
    {!$row->perex|texy}
    {/if}
    {/foreach}
    {/if}