{extends 'clanek.phtml'}

{block #class}article{/block}

{block #section}

            <h1>{!$page->title}</h1>
            
            <p class="date">{$page->published|date:"j.n.Y"}</p>
            
            <p class="perex"><strong>{!$page->perex|texy:TRUE}</strong></p>
            
            {!$page->text|texy}
        
{/block}