{if $page->seo_keywords}{var $keywords = $page->seo_keywords}{/if}
{if $page->seo_description}{var $description = $page->seo_description}{/if}

{block #title}{if $page->seo_title}{!$page->seo_title}{else}{!$page->title}{/if} :: {include #parent}{/block}

{block #breadcrumb}
            {control navigation:breadcrumbs}
{/block}

{block #content}

            <div id="textBlocks" class="clearfix">
                
                <div id="leftBlock">

                    <h2>{!$page->title}</h2>
                    
                    {foreach $pages as $item}
                    <h3>
                        {if $item->text}<a href="{plink view $item->url}" title="{!$item->title}">{/if}
                        {!$item->title}
                        {if $item->text}</a>{/if}
                    </h3>
                    {!$item->perex|texy}
                    {if $item->text}<a href="{plink view $item->url}" title="{!$item->title}">{!$item->title}</a>{/if}
                    {/foreach}
                    
                </div>

            </div>