{extends '../@layout.phtml'}
    
{if $page->seo_keywords}{var $keywords = $page->seo_keywords}{/if}
{if $page->seo_description}{var $description = $page->seo_description}{/if}

{block #title}{if $page->seo_title}{!$page->seo_title}{else}{!$page->title}{/if} :: {include #parent}{/block}

{block #breadcrumb}
            {control navigation:breadcrumbs}
{/block}

{block #content}

        <section class="{block #class}{if isset($page->class)}{$page->class}{else}{$page->seo_title|webalize}{/if}{/block} clearfix">
        {block #section}
        
            <h1>{$page->title}</h1>
            
            {!$page->text|texy}
        
        {/block}
        </section>
        
        <aside class="panel clearfix">
        {block #aside}
            
            <div class="login">
            {!$block->login->text|texy}
            </div>
            
            <hr class="clearfix" />
            
            {!$block->try->text|texy}
            
            <div class="pricing clearfix">
            {!$block->pricing->text|texy}
            </div>
            
            <hr class="clearfix" />
            
            {!$block->testimonial->text|texy}
            
        {/block}
        </aside>
