{if $page->seo_keywords}{var $keywords = $page->seo_keywords}{/if}
{if $page->seo_description}{var $description = $page->seo_description}{/if}

{block #title}{include #parent} - {if $page->seo_title}{!$page->seo_title}{else}{!$page->title}{/if}{/block}

{block #breadcrumb}{/block}

{block #logo}
                <img src="{$basePath}/images/logo.jpg" alt="{$description}" />
{/block}

{block #block}
        {if $block->text}
        <div{if $block->perex} class="{$block->perex}"{/if}>
            {!$block->text|texy}
        </div>
        {/if}
{/block}

{block #content}
        
        {dump $block}
        {include #block, block => $block->banner} {* runner banner *}

        {include #block, block => $block->academic_institutions} {* academic *}
        {include #block, block => $block->enterprise_commerce} {* enterprise *}
        {include #block, block => $block->public_service} {* public *}
        
        {*<div class="home-box-long first">
           <a href="http://qem-2012.takeplace.eu" title="Quality event management"><img src="{$basePath}/images/qem.png" alt="Quality event management" /></a>
        </div>*}

        {include #block, block => $block->participated} {* social logos *}
        {*{include #block, block => $block->enjoy_takeplace} {* enjoy *}
        {*{include #block, block => $block->awards_we_received} {* awards *}
        {include #block, block => $block->just_start_organizing} {* start organising *}

        {*include #block, block => $page->b30*} {* QEM banner *}
        {include #block, block => $block->blog} {* blog *}
        {include #block, block => $block->tp_video_tour} {* video *}
        {include #block, block => $block->testimonial} {* TP users say *}
        {*include #block, block => $page->b31} {* live coverage *}
        
        <!-- valí to -->