{if $page->seo_keywords}{var $keywords = $page->seo_keywords}{/if}
{if $page->seo_description}{var $description = $page->seo_description}{/if}

{block #title}{if $page->seo_title}{!$page->seo_title}{else}{!$page->title}{/if} :: {include #parent}{/block}

{block #breadcrumb}
            {widget navigation:breadcrumbs}
{/block}

{block #content}

        <div class="block clearfix">
            <div class="block-top"></div>
            <div class="block-bottom"></div>
            
            <div class="block-text clearfix">
                <h1 class="gothic">{!$page->seo_title}</h1>
                
                {!$page->text|texy}
            </div>
            
            <div class="block-side">
                {control contactForm}
            </div>
        </div>
