{extends 'clanek.phtml'}

{block #class}sitemap{/block}

{block #section}

                <h1>{!$page->seo_title}</h1>
                
                <ul>
                    {? $temp = 1}
                    {foreach $pages as $page}
                    {if $page->depth > $temp}
                    <ul>
                    {? $temp = $page->depth}
                    {elseif ($page->depth == $temp) && (!$iterator->isFirst())}
                    </li>
                    {elseif ($page->depth < $temp) && (!$iterator->isFirst())}
                    </li>
                    {!= str_repeat("</ul></li>", max(0, $temp - $page->depth))}
                    {? $temp = $page->depth}
                    {/if}
                    <li>
                        <a href="{plink view $page->url}" title="{!$page->title|stripTags}">{!$page->title|stripTags}</a>
                    {/foreach}
                    </li>
                    {!= str_repeat("</ul></li>",max(0, $temp - 1))}
                </ul>
