{contentType text/xml}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {foreach $pages as $page}
        {if !strstr($page->url, 'http://')}
        <url>
            <loc>{plink //:CMS:Default:view $page->url}</loc>
        </url>    
        {/if}
    {/foreach}
</urlset>

