<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/reset.css" /> <!-- RESET -->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/main.css" /> <!-- MAIN STYLE SHEET -->
    <!--[if lte IE 6]><link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/main-ie6.css" /><![endif]--> <!-- MSIE6 -->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/style.css" /> <!-- GRAPHIC THEME -->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/mystyle.css" /> <!-- WRITE YOUR CSS CODE HERE -->
    <script type="text/javascript" src="{$basePath}/adminizio/js/toggle.js"></script>
    <title>{block #title}{$site}{/block}</title>
</head>

<body id="login">

<div id="main-02">

    <div id="login-top"></div>

    <div id="login-box">

        <!-- Logo -->
        <p class="nom t-center"><a href="{plink :CMS:Default:default}"><img src="{$basePath}/images/logo.png" alt="{$site}" title="Visit Site" /></a></p>

        {foreach $flashes as $flash}<p class="msg {$flash->type}">{$flash->message}</p>{/foreach}
        {if $form->errors}{foreach $form->errors as $id => $error}<p class="msg error">{!$error}</p>{/foreach}{/if}
        {include #content}


    </div> <!-- /login-box -->

    <div id="login-bottom"></div>

</div> <!-- /main -->

</body>
</html>