{var $robots = noindex}

{block #title}Login :: {include #parent}{/block}

{block #content}
        {control $form begin}
        <table class="nom nostyle">
            <tr>
                <td style="width:75px;">{$form['username']->label}</td>
                <td>{$form['username']->control}</td>
            </tr>
            <script type="text/javascript">
                var username = document.getElementById('frmloginForm-username');
                username.focus();
            </script>
            <tr>
                <td>{$form['password']->label}</td>
                <td>{$form['password']->control}</td>
            </tr>
            <tr>
                <td colspan="2" class="t-right">{$form['send']->control}</td>
            </tr>
        </table>
        {control $form end}

