<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/reset.css" /> <!-- RESET -->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/main.css" /> <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/2col.css" title="2col" /> <!-- DEFAULT: 2 COLUMNS -->

    <link rel="alternate stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/1col.css" title="1col" /> <!-- ALTERNATE: 1 COLUMN -->
    <!--[if lte IE 6]><link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/main-ie6.css" /><![endif]--> <!-- MSIE6 -->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/style.css" /> <!-- GRAPHIC THEME -->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/adminizio/css/mystyle.css" /> <!-- WRITE YOUR CSS CODE HERE -->

    <link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/css/uploadify.css" />

    <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/jquery.ui.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/jquery.nette.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/jquery.ajaxform.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/ajax.js"></script>

    <link rel="stylesheet" href="{$basePath}/js/jquery/css/jquery.treeview.css" />
    
    <script type="text/javascript" src="{$basePath}/js/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/jquery.treeview.pack.js"></script>

    <script type="text/JavaScript" src="{$basePath}/js/multiplefileupload/jquery.livequery.js"></script>
    <script type="text/JavaScript" src="{$basePath}/js/multiplefileupload/swfobject.js"></script>
    <script type="text/JavaScript" src="{$basePath}/js/multiplefileupload/jquery.uploadify.v2.1.0.js"></script>
    <script type="text/JavaScript" src="{$basePath}/js/multiplefileupload/nette-ajax-driver.js"></script>
    <script type="text/JavaScript" src="{$basePath}/js/multiplefileupload/nette-ajax-form.js"></script>
    <script type="text/JavaScript" src="{$basePath}/js/multiplefileupload/MultipleFileUpload.js"></script>
    <script type="text/JavaScript" src="{$basePath}/js/multiplefileupload/MFUFallbackController.js"></script>



    <script type="text/javascript" src="{$basePath}/js/jquery/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/jquery.dimensions.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/jquery.suggest.js"></script>
    
    <script type="text/javascript" src="{$basePath}/js/jquery/ui.core.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/ui.slider.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/ui.datepicker.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery/ui.datepicker-cs.js"></script>
    <script type="text/javascript" src="{$basePath}/js/timepicker/timepicker-cs.js"></script>
    <script type="text/javascript">
    <!-- <![CDATA[
    $(document).ready(function()
    {
        $('input.datetimepicker').datepicker(
        {
            duration: '',
            changeMonth: true,
            changeYear: true,
            yearRange: '2001:2020',
            showTime: true,
            time24h: true,
            currentText: 'Dnes',
            closeText: 'OK'
        });
    });
    //]]> -->
    </script>

    <script type="text/javascript" src="{$basePath}/adminizio/js/toggle.js"></script>
    <!--script type="text/javascript" src="{$basePath}/adminizio/js/ui.core.js"></script-->
    <script type="text/javascript" src="{$basePath}/adminizio/js/ui.tabs.js"></script>
    <link rel="stylesheet" type="text/css" href="{$basePath}/js/texyla/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{$basePath}/js/texyla/themes/default/theme.css" />
    {*control js 'texyla/js/texyla.js', 'texyla/js/ajaxupload.js', 'texyla/js/buttons.js', 'texyla/js/dom.js', 'texyla/js/selection.js', 'texyla/js/texy.js', 'texyla/js/view.js', 'texyla/languages/cs.js', 'autoresize.jquery.min.js', 'texyla/setupTexyla.js'*}
    {control js 'texyla/texyla.js', 'autoresize.jquery.min.js', 'texyla/setupTexyla.js', 'netteForms.js'}

    
    <script type="text/javascript">
    $(document).ready(function(){
        $(".tabs > ul").tabs();
    });
    </script>
    <title>{block #title}{$site}{/block}</title>
</head>

<body>

<div id="main">

    <!-- Tray -->
    <div id="tray" class="box">

        <p class="f-left box">

            <!-- Switcher -->
            <span class="f-left" id="switcher">
                <a href="#" rel="1col" class="styleswitch ico-col1" title="Display one column"><img src="{$basePath}/adminizio/design/switcher-1col.gif" alt="1 Column" /></a>

                <a href="#" rel="2col" class="styleswitch ico-col2" title="Display two columns"><img src="{$basePath}/adminizio/design/switcher-2col.gif" alt="2 Columns" /></a>
            </span>

            Project: <strong>{$site}</strong>

        </p>

        <p class="f-right">User: <strong><a href="{plink 'User:detail'}">{$uzivatel->name}</a></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><a href="{plink ':Admin:Default:logout'}" id="logout">Odhlásit</a></strong></p>

    </div> <!--  /tray -->

    <!-- Menu -->
    <div id="menu" class="box">

        <ul class="box f-right">
            <li><a href="{plink ':Cms:Default:view'}"><span><strong>Přejít na {$site}</strong></span></a></li>

        </ul>

        <ul class="box">
            <li><a href="{plink ':Admin:Default:default'}"><span>Úvodní stránka</span></a></li>
            {if $isAdmin}
            <li><a href="{plink ':Admin:User:default'}"><span>Správa uživatelů</span></a></li>
            {/if}
        </ul>

    </div> <!-- /header -->


    <hr class="noscreen" />

    <!-- /header -->

    <hr class="noscreen" />

    <!-- Columns -->
    <div id="cols" class="box">

        <!-- Aside (Left Column) -->
        <div id="aside" class="box">

            <ul class="box">
                <li>
                    <a href="{plink ':Admin:Content:default'}">Správa obsahu</a>
                </li>
                <li><a href="{plink ':Admin:Content:terminy'}">Správa termínů</a></li>
            </ul>

        </div> <!-- /aside -->

        <hr class="noscreen" />

        <!-- Content (Right Column) -->
        <div id="content" class="box">

        {snippet flashes}
            {foreach $flashes as $flash}<p class="msg {if $flash->type}{$flash->type}{else}error{/if}">{$flash->message}</p>{/foreach}
        {/snippet}

        {include #content}

        </div> <!-- /content -->

    </div> <!-- /cols -->

    <hr class="noscreen" />

    <!-- Footer -->
    <div id="footer" class="box">

        <p class="f-left">&copy; {? date("Y", time())} <a href="{plink :CMS:Default:default}">{$site}</a>, All Rights Reserved &reg;</p>

        <p class="f-right">Templates by <a href="http://www.adminizio.com/">Adminizio</a></p>

    </div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>
