{block #title}Upravit produkt :: {include #parent}{/block}

{block #content}

    {widget $form begin}
    {widget $form errors}
    
    <table>
    {foreach $form['product']->controls as $control}
        <tr>
            <th>{$control->label}</th>
            <td>{$control->control}</td>
        </tr>
    {/foreach}
    </table>

    <h2>Kategorie</h2>
    <table>
    <table>
    {foreach $form['categories']->controls as $control}
        <tr>
            <th>{$control->control}</th>
            <td>{$control->label}</td>
        </tr>
    {/foreach}
    </table>

    <h2>Parametry</h2>
    <table>
    {foreach $form['parameters']->controls as $control}
        <tr>
            <th>{$control->label}</th>
            <td>{$control->control}</td>
        </tr>
    {/foreach}
    </table>

    
    {$form['save']->control}
    
    {widget $form end}