
        <h2 class="gothic"><strong>Kontaktujte mě</strong></h2>
        
        {control $form begin}
        {control $form errors}

        {$form['name']->label}        
        {$form['name']->control}

        {$form['email']->label}
        {$form['email']->control}

        {$form['note']->label}
        {$form['note']->control}

        {$form['nospam']->control}

        {$form['send']->control}

        {control $form end}