<html>
<head>
<title>Vzkaz z webu</title>
</head>
<body>
<h3>Vzkaz z webu</h3>

Návštěvník:<br />
---------<br />
Jméno: {$name}<br />
{if $phone}Telefon: {$phone}<br />{/if}
<br /><br />
Vám zaslal následující vzkaz:<br /><br />

{if $vzkaz}<p>{$vzkaz}</p>{else}<p>bez vzkazu</p>{/if}

</body>
</html>