{block #title}Úprava šablony :: {include #parent}{/block}

{block #content}

    {control $form begin}
    {control $form errors}

    <h2>Správa šablony</h2>    
    <table>
    {foreach $form['template']->controls as $control}
        <tr>
            <th>{$control->label}</th>
            <td>{$control->control}</td>
        </tr>
    {/foreach}
    </table>

    {$form['save']->control}
    
    <h2>Související parametry</h2>    
    <table>
    {foreach $form['parameters']->controls as $control}
        <tr>
            <th>{$control->control}</th>
            <td>{$control->label}</td>
        </tr>
    {/foreach}
    </table>

