{block #title}Správa fotogalerií :: {include #parent}{/block}

{block #content}

    <h1>Správa fotogalerií</h1>
    
    <h3><a href="{plink add}">+ Vytvořit fotogalerii</a></h3>
    
    <table>
        <tr>
            <th>Stav</th>
            <th>Datum vložení</th>
            <th>Název</th>
            <th>Počet fotek</th>
            <th>Akce</th>
        </tr> 
        {if $fotogalerie}
        {foreach $fotogalerie as $galerie}
        <tr>
            <td>{if $galerie->active}Aktivní{else}<a href="{plink Fotogalerie:activate $galerie->id}">Aktivovat</a>{/if}</td>
            <td>{$galerie->created|date:"j.n.Y"}</td>
            <td>{$galerie->title}</td>
            <td><a href="{plink manage $galerie->id}">{$galerie->photosCount}</a></td>
            <td><small><a href="{plink edit $galerie->id}">upravit</a> | <a href="{plink delete $galerie->id}">vymazat</a></small></td>
        </tr>
        {/foreach}
        {else}
        <tr>
            <td colspan="5">Zatím nebyla založena žádná fotogalerie.</td>
        </tr>
        {/if}
    </table>
