{block #title}Spravovat fotky :: {$album->title} :: {include #parent}{/block}

{block #content}

    <h1>Spravovat fotky</h1>

    {control $form begin}
    {control $form errors}
    
    <table>
        <tr>
            <th></th>
            <th>Fotka</th>
            <th>Pozice</th>
            <th>Název</th>
            <th>Text</th>
            <th>Smazat fotku</th>
        </tr>
    {foreach $fotky as $fotka}
        <tr>
            <td style="vertical-align: middle;">
                {if !$iterator->isFirst()}<h3><a href="{plink posun $fotka->id, 'u'}" style="text-decoration: none;">&uarr;</a></h3>{/if} 
                {if !$iterator->isLast()}<h3><a href="{plink posun $fotka->id, 'd'}" style="text-decoration: none;">&darr;</a></h3>{/if}
            </td>
            <td style="vertical-align: middle;"><img src="{$basePath}/upload/fotogalerie/{$album->url}/{$fotka->filename}" style="width: 200px;" /></td>
        {foreach $form[$fotka->id]->controls as $control}
            <td style="vertical-align: middle;">{$control->control}</td>
        {/foreach}
        </tr>
    {/foreach}

        <tr>
            <td colspan="4">{$form['ulozit']->control}</td>
        </tr>    
    </table>
    
    {control $form end}