{block #title}Správa bannerů :: {include #parent}{/block}

{block #content}

<h1>Správa bannerů</h1>

<h2>Přehled bannerů</h2>

<table>
    <tr>
        <th>Název</th>
        <th>Akce</th>
    </tr>
    {foreach $bannery as $p}
    <tr>
        <td>{$p->title}</td>
        <td>
            <a href="{plink Page:editBanner $p->id}"><img src="{$basePath}/adminizio/design/ico-edit.gif" alt="upravit"></a>
        </td>
    </tr>
    {/foreach}
</table>