{block #title}Správa článků :: {include #parent}{/block}

{block #content}

    {var $subtemplate = 'clanek'}
    {if !isset($page)}
    <h1>Správa obsahu</h1>
    {else}
    <h1><a href="{plink default}">Správa obsahu</a> {foreach $parents as $parent}&gt; <a href="{plink default $parent->id}">{$parent->title}</a> {/foreach} &gt; {$page->title} - Podstránky</h1>
    {var $subtemplate = $page->subtemplate ? $page->subtemplate : 'clanek'}
    {/if}

    <h2><a href="{plink Page:add, 'parentId' => $control->getParam('id'), 'template' => $subtemplate}" class="ico-blank">+ Přidat {if $control->getParam('id')}pod{/if}stránku</a></h2>

    {if isset($page)}<h3>{$page->title} - Podstránky</h3>{/if}
    
    {snippet list}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Název</th>
                <th>Počet podstránek</th>
                <th>Aktivní</th>
                <th>Zveřejněno</th>
                <th>Zobrazeno</th>
                <th>Template</th>
                <th>Položka menu</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {foreach $pages as $page}
            <tr>
                <td>
                    <a href="{plink move! $page->id, 'u'}" style="text-decoration: none; font-size: 15px;">&uarr;</a>
                    <a href="{plink move! $page->id, 'd'}" style="text-decoration: none; font-size: 15px;">&darr;</a>
                </td>
                <td><a href="{plink default $page->id}">{!$page->title}</a></td>
                <td>{$page->pages}</td>
                <td>{!= $page->active ? 'Ano' : 'Ne'}</td>
                <td>{$page->published|date:"j.n.Y"}</td>
                <td>{$page->viewed}×</td>
                <td>{$page->template}</td>
                <td>{!= $page->menu ? 'Ano' : 'Ne'}</td>
                <td>
                    {if $page->active}<a href="{plink ":CMS:Default:view" $page->url}" target="_blank"><img src="{$basePath}/adminizio/design/ico-show.gif" alt="zobrazit"></a> &nbsp; {/if}
                    <a href="{plink Page:edit $page->id}"><img src="{$basePath}/adminizio/design/ico-edit.gif" alt="upravit"></a>
                    <a href="{plink Page:clone $page->id}"><img src="{$basePath}/adminizio/design/ico-template.gif" alt="klonovat"></a>
                    {if !$page->system} &nbsp; <a href="{plink Page:delete $page->id}"><img src="{$basePath}/adminizio/design/ico-delete.gif" alt="vymazat"></a>{/if}
                    {if $page->subtemplate}
                     &nbsp; <a href="{plink Page:add 'parentId' => $page->id, 'template' => $page->subtemplate}"><img src="{$basePath}/adminizio/design/ico-blank.gif" alt="vložit podstránku"></a>
                     {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {/snippet}    

    <h2>Správa šablon</h2>
    
    {control $templateForm begin}
    {control $templateForm errors}
    <table>
        <tr>
            <th>Název</th>
            <th>Soubor</th>
            <th>Soubor následovníka</th>
            <th>Akce</th>
        </tr>
        <tr>
            <td>{$templateForm['template']['title']->control}</td>
            <td>{$templateForm['template']['template']->control}</td>
            <td>{$templateForm['template']['subtemplate']->control}</td>
            <td>{$templateForm['save']->control}</td>
        </tr>
        {foreach $templates as $template}
        {var $templateParameters = $templatesModel->findParameters($template->id)->fetchAll()}
        <tr>
            <td>{$template->title}</td>
            <td>{$template->template}</td>
            <td>{$template->subtemplate}</td>
            <td><small><a href="{plink Template:edit $template->id}">upravit</a> | <a href="{plink Template:delete $template->id}">smazat</a></small></td>
        </tr>
        {if $templateParameters}
        <tr>
            <td colspan="3"><small>parametry: {foreach $templateParameters as $parameter}{$parameter->title}{sep}, {/sep}{/foreach}</small>{/if}</td>
        </tr>
        {/foreach}
    </table>
    {control $templateForm end}
    

    <h2>Správa parametrů</h2>
    
    {control $parameterForm begin}
    {control $parameterForm errors}
    <table>
        <tr>
            <th>Název</th>
            <th>Typ pole</th>
            <th>Akce</th>
        </tr>
        <tr>
            <td>{$parameterForm['title']->control}</td>
            <td>{$parameterForm['type']->control}</td>
            <td>{$parameterForm['save']->control}</td>
        </tr>
        {foreach $parameters as $parameter}
        <tr>
            <td>{$parameter->title}</td>
            <td>{$parameter->type}</td>
            <td><small><a href="{plink Parameter:edit $parameter->id}">upravit</a> | <a href="{plink Parameter:delete $parameter->id}">smazat</a></small></td>
        </tr>
        {/foreach}
    </table>
    {control $parameterForm end}
    

