{block #title}Správa lekcí :: {include #parent}{/block}

{block #content}

<h1>Správa termínů</h1>

<h2>Přehled termínů <small><a href="{plink Page:addTermin}">+ Přidat termín</a></small></h2>

<table>
    <tr>
        <th>Datum</th>
        <th>Akce</th>
    </tr>
    {foreach $pages as $p}
    <tr>
        <td>{$p->published|date:"j.n.Y"}</td>
        <td>
            <a href="{plink Page:editTermin $p->id}"><img src="{$basePath}/adminizio/design/ico-edit.gif" alt="upravit"></a>
            <a href="{plink Page:delete $p->id}"><img src="{$basePath}/adminizio/design/ico-delete.gif" alt="vymazat"></a>
        </td>
    </tr>
    {/foreach}
</table>