{block #title}Správa zážitků :: {include #parent}{/block}

{block #content}

<h1>Správa zážitků</h1>

<h2>Přehled zážitků <small><a href="{plink Page:addZazitek}">+ Přidat zážitek</a></small></h2>

<table>
    <tr>
        <th></th>
        <th>Název</th>
        <th>Datum</th>
        <th>Cena</th>
        <th>Akce</th>
    </tr>
    {foreach $zazitky as $p}
    <tr>
        <td>
            <a href="{plink move! $p->id, 'u'}" style="text-decoration: none; font-size: 15px;">&uarr;</a>
            <a href="{plink move! $p->id, 'd'}" style="text-decoration: none; font-size: 15px;">&darr;</a>
        </td>
        <td>{$p->title}</td>
        <td>{$p->datum|date:"j.n.Y"}</td>
        <td>{$p->cena}</td>
        <td>
            <a href="{plink Page:editZazitek $p->id}"><img src="{$basePath}/adminizio/design/ico-edit.gif" alt="upravit"></a>
            <a href="{plink Page:delete $p->id}"><img src="{$basePath}/adminizio/design/ico-delete.gif" alt="vymazat"></a>
        </td>
    </tr>
    {/foreach}
</table>