{var $robots = noindex}

{block #title}404 :: Page not found :: {include #parent}{/block}

{block #content}

        <section>
        
            <h1>404 Not Found</h1>
            
            {capture $text}
            Oops, we're really sorry but something terrible happened.

            If you see this page often please contact us on support@takeplace.eu.

            Perhaps you’d like to start from the "home page":[article:1]?
            {/capture}
            {!$text|texy}

        </section>

