{var $robots = noindex}

{block #title}404 :: Stránka nebyla nalezena :: {include #parent}{/block}

{block #content}

            <div id="textBlocks" class="clearfix">
                
                <div id="leftBlock">

                    <h2>404 Not Found</h2>

                    <p>Stránka nebyla nalezena</p>

                </div>
            
            </div>