{block #title}Úprava lekce :: {include #parent}{/block}

{block #content}

    <h1><a href="{plink Content:lekce}">Správa lekcí</a> &gt; Úprava lekce</h1>
    
    <h2>{$page->title}</h2>

    {!$page->perex|texy}
    
    {var $form => $control['editBannerForm']}
    {control $form begin}
    {control $form errors}
    
    <table>
    {foreach $form['page']->controls as $item}
        {if $item instanceOf HiddenField}
        {$item->control}
        {else}
        <tr>
            <th>{$item->label}</th>
            <td>{$item->control}</td>
        </tr>
        {/if}
    {/foreach}
    </table>

    {$form['bannerSubmit']->control}
    
    {control $form end}
