{block #title}Úprava článku :: {include #parent}{/block}

{block #content}

    <h1><a href="{plink Content:zazitky}">Správa zážitků</a> &gt; Úprava zážitku</h1>
    
    <h2>Upravit zážitek</h2>

    {var $form => $control['editZazitekForm']}
    {control $form begin}
    {control $form errors}
    
    <table>
    {foreach $form['page']->controls as $item}
        {if $item instanceOf HiddenField}
        {$item->control}
        {else}
        <tr>
            <th>{$item->label}</th>
            <td>{$item->control}</td>
        </tr>
        {/if}
    {/foreach}
    {foreach $form['parameters']->controls as $item}
        <tr>
            <th>{$item->label}</th>
            <td>{$item->control}</td>
        </tr>
    {/foreach}
    </table>

    {$form['zazitekSubmit']->control}
