{block #title}Úprava článku :: {include #parent}{/block}

{block #content}

    <h1><a href="{plink default}">Správa stránek</a> &gt; Úprava článku</h1>
    
    <h2>Upravit článek</h2>

    {control $form begin}
    {control $form errors}
    
    <table>
    {foreach $form['page']->controls as $item}
        <tr{if $item->name == 'seo_keywords'} id="seo_keywords"{elseif $item->name == 'seo_description'} id="seo_description"{elseif $item->name == 'seo_title'} id="seo_title"{/if}>
            <th>{$item->label}</th>
            <td>{$item->control}</td>
        </tr>
    {/foreach}
    </table>

    <h2>Související parametry</h2>
    {snippet parameters}
    {if $form['parameters']}
    <table>
    {foreach $form['parameters']->controls as $item}
        <tr>
            <th>{$item->label}</th>
            <td>{$item->control}</td>
        </tr>
    {/foreach}
    </table>
    {else}
    <p>Šablona nemá žádné související parametry.</p>
    {/if}
    {/snippet}
    

    {$form['save']->control}
    {$form['stay']->control}
    {$form['clone']->control}
    
    <script>
    $(document).ready(function(){
        $(".template").change(function() {
            var sel = $(this);    
            $.get("?do=loadParameters", {"template": sel.val()});
        });
    });

    </script>

    {control $form end}
    
    <table id="pageList">
        <tr>
            <th>ID</th>
            <th>Název kurzu</th>
        </tr>
        {foreach $pagesList as $page}
        <tr>
            <td>{$page->id}</td>
            <td>{!= str_repeat('&minus;', ($page->depth - 1) * 2)} {!$page->title} <small>[<a href="{plink edit $page->id}">edit</a>]</small></td>
        </tr>
        {/foreach}
    </table>
    
    {if !$control->getParam('id')}
    <script type="text/javascript">
        var title = document.getElementById('frmeditForm-page-title');
        title.focus();
    </script>
    {/if}
    
