{block #title}Úprava termínu :: {include #parent}{/block}

{block #content}

    <h1><a href="{plink Content:terminy}">Správa termínů</a> &gt; Úprava termínu</h1>
    
    <h2>Upravit termín</h2>

    {var $form => $control['editTerminForm']}
    {control $form begin}
    {control $form errors}
    
    <table>
    {foreach $form['page']->controls as $item}
        {if $item instanceOf HiddenField}
        {$item->control}
        {else}
        <tr>
            <th>{$item->label}</th>
            <td>{$item->control}</td>
        </tr>
        {/if}
    {/foreach}
    </table>

    {$form['terminSubmit']->control}
    
    {control $form end}
    
    {if !$control->getParam('id')}
    <script type="text/javascript">
        var title = document.getElementById('frmeditForm-page-title');
        title.focus();
    </script>
    {/if}
    