{block #title}Správa uživatelů :: {include #parent}{/block}


{block #content}

    <h1>Správa uživatelů</h1>

    <h2><a href="{plink add}">+ Přidat uživatele</a></h2>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Jméno</th>
            <th>Email/Login</th>
            <th>Poslední přihlášení</th>
            <th>Akce</th>
        </tr>
    {foreach $users as $user}
        <tr>
            <td>{$user->id}</td>
            <td>{$user->name}</td>
            <td>{$user->email}</td>
            <td>{if $user->lastLogin}{$user->lastLogin|date:"j. n. Y G:i"}{else}zatím nepřihlášen{/if}</td>
            <td><a href="{plink edit $user->id}">upravit</a></td>
        </tr>
    {/foreach}
    </table>

{/block}
