{block #title}Správa uživatele: {$jmenoUzivatele} :: {include #parent}{/block}


{block #content}

    <h1>{$jmenoUzivatele}</h1>

    <h2>Správa uživatele</h2>
    {control $form begin}
    {control $form errors}

    <table>
    {foreach $form['uzivatel']->controls as $uzivatel}
        <tr{if strstr($uzivatel->name, 'password')} id="{$uzivatel->name}"{/if}>
            <th>{$uzivatel->label}</th>
            <td>{$uzivatel->control}</td>
        </tr>
    {/foreach}
    </table>  
    <p>* znamená povinnou položku</p>

    {$form['ulozit']->control}
        
    {control $form end}

    