{block #title}Detail uživatele: {$user->jmeno} {$user->prijmeni} :: {include #parent}{/block}


{block #content}

    <h1>{$user->jmeno} {$user->prijmeni}</h1>

    <h2>Detail uživatele</h2>
    
    <table>
        <tr>
            <th>Jméno a příjmení</th>
            <td>{$user->jmeno} {$user->prijmeni}</td>
        </tr>
        <tr>
            <th>Pohlaví</th>
            <td>{$pohlavi[$user->pohlavi]}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{$user->email}</td>
        </tr>
        {if $user->mobil}
        <tr>
            <th>Mobil</th>
            <td>{$user->mobil}</td>
        </tr>
        {/if}
        <tr>
            <th>Věk</th>
            <td>{$user->vek}</td>
        </tr>
        <tr>
            <th>Čistý trestní rejstřík?</th>
            <td>{$user->rejstrik == 1 ? 'Ano' : 'Ne'}</td>
        </tr>
        <tr>
            <th>Město</th>
            <td>{$user->mesto}</td>
        </tr>
        <tr>
            <th>Zaměstnání</th>
            <td>{$user->zamestnani}</td>
        </tr>
        <tr>
            <th>Zkušenosti s BÚ</th>
            <td>{$user->zkusenostbu}</td>
        </tr>
        <tr>
            <th>Zkušenosti s sebeobranou</th>
            <td>{$user->zkusenostsb}</td>
        </tr>
    </table>
    