            <h2>Aktuality</h2>

            <br />      
            <ul class='aktuality'>
            {foreach $news as $item}
                <li><strong>{$item->published|date:"j. n."}</strong> {$item->title}</li>
            {/foreach}
            </ul>
            
            <a href="{plink view $parent->url}" title="{$parent->title}" id='zobrazAktuality'>{$parent->title}</a>
            <br />