            {foreach $news as $item}
            <div class="items-item clearfix">
            {if $item->image}
                <img src="{$basePath}/upload/pages/small_{$item->image}" title="{$item->title}" class="item-image"/>
                <div class="item-date">
                    <time datetime="{$item->published|date:"Y-m-d"}">{$item->published|date:"d"} <span>{$mesic[$template->date($item->published, "n")]}</span></time>
                </div>
                <div class="item-short-title">
                    <h3><a href="{plink Default:view $item->url}" title="{!$item->title}">{!$item->title}</a></h3>
                </div>
                <div class="item-short-text">
                    {!$item->perex|texy}
                </div>
            {else}
                <div class="item-date">
                    <time datetime="{$item->published|date:"Y-m-d"}">{$item->published|date:"d"} <span>{$mesic[$template->date($item->published, "n")]}</span></time>
                </div>
                <div class="item-text">
                    <h3><a href="{plink Default:view $item->url}" title="{!$item->title}">{!$item->title}</a></h3>
                    {!$item->perex|texy}
                </div>
            {/if}
            </div>
            
            {/foreach}
