
                <div class="pages">
                    Stránka:
                    {foreach $steps as $step}
                    {if $step == $paginator->page}
                        <span class="current_page">{$step}</span>
                    {else}
                        <a href="{link this, 'page' => $step}">{$step}</a>
                    {/if}
                    {if $iterator->nextValue > $step + 1}<span>…</span>{/if}
                    {/foreach}
                </div>
