<!doctype html>  

<!--[if lt IE 7 ]> <html lang="{$ln}" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="{$ln}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{$ln}" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{$ln}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{$ln}" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{block #title}{$site}{/block}</title>

    {default $robots = 'index, follow'}
    <meta name="robots" content="{$robots}" />
    <meta name="description" content="{$description}" />
    <meta name="keywords" content="{$keywords}" />
    <meta name="copyright" content="{$copyright}" />
    <meta name="author" content="Nikol Kokešová, Tomáš Mačuga" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <link rel="apple-touch-icon" href="{$basePath}/apple-touch-icon.png">

    <link rel="stylesheet" href="{$basePath}/css/style.css?v=2">
    <script src="{$basePath}/js/libs/modernizr-1.6.min.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>

</head>

<body>

<div id="wrapper">
    <header class="clearfix">

        <p class="logo molot">
            {block #logo}
            <a href="{plink "//Default:view" '2011'}" title="Go to main page" accesskey="2">
                <img src="{$basePath}/images/logo.png" class="png" alt="MOBERA - Leading mobile conference in Europe" />
            </a>
            {/block}
        </p>

        {block #motto}
        <p class="motto molot">
            <strong>Leading <em>mobile conference</em> in Europe</strong><br />
            <span>05-07 September 2011 // Brno-Czech republic</span>
        </p>
        {/block}
        
        <a href="#" class="tickets" title="Ticket sale">
            <img src="{$basePath}/images/ticket-sale.jpg" title="Ticket sale" />
        </a>
        
        <nav>
            {widget navigation}
        </nav>
    
    </header>
    
    <div class="main clearfix">

        {include #content}
    
    </div>
    
    <footer class="clearfix">

        <div>
        
            <div class="column organiser">
                <h2 class="chaparral">Organiser</h2>
                
                <img src="{$basePath}/images/acemcee.png" alt="ACEMCEE" /><br />
                
                <a href="#" title="About ACEMCEE">About ACEMCEE</a>
            </div>
            
            <div class="column">
                <h2 class="chaparral">Sponsors</h2>
                
                <ul>
                    <li><a href="#" title="Why to be a sponsor">Why to be a sponsor</a></li>
                    <li><strong><a href="#" title="Sponsor packages">Sponsor packages</a></strong></li>
                    <li><a href="#" title="List of sponsors">List of sponsors</a></li>
                </ul>
            </div>
        
            <div class="column">
                <h2 class="chaparral">Speakers</h2>
                
                <ul>
                    <li><a href="#" title="Why to be a speaker">Why to be a speaker</a></li>
                    <li><strong><a href="#" title="Sponsor packages">Call for papers</a></strong></li>
                    <li><a href="#" title="List of speakers">List of speakers</a></li>
                </ul>
            </div>
        
            <div class="column help">
                <h2 class="chaparral">Help us</h2>
                
                <ul>
                    <li><a href="#" title="Volunteers">Volunteers</a></li>
                    <li><a href="#" title="Promotion">Promotion</a></li>
                    <li><a href="#" title="Contact information">Contact information</a></li>
                </ul>
            </div>
        
        </div>
        
    </footer>

    <div class="copyright">
        <ul>
            <li><strong>Design:</strong> <a href="#" title="Tvorba webu">divDesign</a></li>
            <li><strong>Copyrights:</strong> <a href="#" title="ACEMCEE">acemcee</a></li>
            <li><strong>2011</strong></li>
        </ul>
    </div>
    
</div> <!-- end of #wrapper -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="{$basePath}/js/jquery/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="{$basePath}/js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  <!-- change the UA-XXXXX-X to be your site's ID >
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script-->
  
</body>
</html>